.loader{          
    border:15px solid gainsboro;
    border-left:tomato 15px solid;
    height:5em; 
    width:5em; 
    margin:40vh auto auto auto;
    border-radius: 50%;
    -webkit-animation : spin 0.5s linear infinite; /* Safari */
     animation: spin 0.5s linear infinite;
    }
    /* Safari */
    @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }
    
    p   {
        text-align: center
    }